@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/src/lib/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/src/lib/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: url('/src/lib/fonts/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
	font-family: 'Montserrat';
}

.st-font-bold {
  font-family: 'Montserrat Bold';
}

.st-font-italic {
  font-family: 'Montserrat Italic';
}

#masonry-grid-container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.masonry-grid-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.masonry-grid-item-container {
  position: relative;
  overflow: hidden;
}

.masonry-grid-item-image {
  /* display: block; */
  width: 100%;
  border-radius: 0.5rem;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  outline: none;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(to right, #ef4444 , #eab308, #22c55e);
  border-radius: 9999px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 9999px;
}

.slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 9999px;
}