@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/src/lib/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/src/lib/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: url('/src/lib/fonts/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
	font-family: 'Montserrat';
}

.st-font-bold {
  font-family: 'Montserrat Bold';
}

.st-font-italic {
  font-family: 'Montserrat Italic';
}

#masonry-grid-container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.masonry-grid-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.masonry-grid-item-container {
  position: relative;
  overflow: hidden;
}

.masonry-grid-item-image {
  width: 100%;
  border-radius: 0.25rem;
}

.slider-light {
  -webkit-appearance: none;
  appearance: none;

  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 1rem;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;

  background-color: #f5f5f5;

  cursor: pointer;
}

/* .slider-light:hover {
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.slider-light:not(hover) {
  opacity: 0.5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
} */

.slider-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 2rem;
  height: 2rem;
  background: #e5e5e5;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.slider-light::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #e5e5e5;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.dark .dark\:slider-dark {
  -webkit-appearance: none;
  appearance: none;

  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 1rem;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;

  background-color: #475569;

  cursor: pointer;
}

.dark .dark\:slider-dark::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 2rem;
  height: 2rem;
  background: #64748b;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.dark .dark\:slider-dark::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #64748b;
  /* border-radius: 9999px; */
  border-radius: 0.25rem;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

/* .dark .dark\:slider-dark:hover {
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.dark .dark\:slider-dark:not(hover) {
  opacity: 0.5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
} */